@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "BasisProMedium";
    font-weight: 700;
    src: url(./fonts/BasisGrotesquePro-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "BasisProRegular";
    font-weight: 500;
    src: url(./fonts/BasisGrotesquePro-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "RecklessNeueLight";
    font-weight: 400;
    src: url(./fonts/RecklessNeue-Light.woff2) format("woff2");
  }
}

.tabs {
  margin-inline: 6px;
  @apply w-3 h-3 bg-white bg-opacity-30 rounded-full
    cursor-pointer;
}
.active {
  @apply bg-opacity-80;
}
