@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "BasisProMedium";
    font-weight: 700;
    src: url(./fonts/BasisGrotesquePro-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "BasisProRegular";
    font-weight: 500;
    src: url(./fonts/BasisGrotesquePro-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "RecklessNeueLight";
    font-weight: 400;
    src: url(./fonts/RecklessNeue-Light.woff2) format("woff2");
  }
}
